{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>

{%include "nav.html"%}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(https://i.pinimg.com/originals/71/72/a2/7172a2c855463108fc05e6a059c6dc07.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">

      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light text-uppercase font-weight-bold">Our Services</h1>
        <p class="breadcrumb-custom"><a href="index.html">Home</a> <span class="mx-2">&gt;</span> <span>Services</span></p>
      </div>
    </div>
  </div>
</div>



<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Our Services</h2>
        <p class="color-black-opacity-5">We offer exceptional services ranging from:</p>
      </div>
    </div>

    <div class="row">
<div class="col-md-6">
<div class="card">
    <img class="card-img-top" src="https://paullindqvist.se/wp-content/uploads/2017/11/print_eckerolinjen_drinks_2017-11-06_028.jpg" alt=Card image cap >
  <div class="card-body">
    <h3 class="card-title"> <strong>Cocktails</strong></h3>
    <p class="card-text">We strongly believe that your party deserves style & polish. We think your event, regardless of the reason you are celebrating, should come as close as possible to flawless, seamless, smooth, relaxed and fun. It’s not just about mixing drinks and pouring the perfect glass of beer, it’s about becoming an extension of the atmosphere you are creating. We believe that the bar is the hub of the party: information central, the core, the heart, and the pivotal location that almost every single guest will visit at least once during their time at your party. We know that the experience they have at the bar, will be a reflection on you.</p>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="card">
    <img class="card-img-top" src="https://static1.squarespace.com/static/58ca3c0a59cc682c73a86b8a/58d20b42d2b857cbb83c8d7f/58d36f89893fc0bdd12b0590/1490251674533/1+copy.jpg" alt=Card>
  <div class="card-body">
    <h3 class="card-title"> <strong>Corporate Events</strong></h3>
    <p class="card-text">CockyMocky bar service can be customized to provide the perfect bar for your party. We offer a full range of beverage and bartending services designed to make your event a success. We can set up a complete, well-stocked bar for your event and staff it with our professional bartenders. We know that professional event bar service adds polish and the highest level of customer service to your event. Knowing that your bar is in good hands lets you relax and enjoy your event. Our event bar service professionals can assist you in putting together a full bar for any size event, make wine selections to fit any budget.</p>
  </div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-md-6">
<div class="card">
<img class="card-img-top" src="https://ceremoniesido.com.au/wp-content/uploads/2016/04/20160319_152830-Copy.jpg" alt=Card>
<div class="card-body">
<h3 class="card-title"> <strong>Wedding Ceremonies</strong></h3>
<p class="card-text">Your wedding is one of the most important days of your life. You will invest a great amount of time and money into planning the perfect party for your friends and family, so why take chances on your bar service- an important piece of the magic? We know just how important your special day is to you. CockyMocky offers an array of full-service packages that are well-suited to making your day stress free and ensure that your guests will have a great time. Not only do we offer competitive pricing, but we don't charge you any extra because it's a wedding.</p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<img class="card-img-top" src="http://www.kiddy-club.com/images/prac_birthday.jpg" alt=Card>
<div class="card-body">
<h3 class="card-title"> <strong>Private & Birthday Parties</strong></h3>
<p class="card-text">Our mobile bar hire package is the perfect solution to your birthday & Private party dilemma. Whether you are having a small celebration in your back garden, or maybe your looking for the ultimate birthday celebration, our mobile bar services will make your birthday a night to remember.
A good bar caterer like CockyMocky can help you determine how much alcoholic and non-alcoholic beverages you need for your party. Having someone sort out your bar needs, makes you available to your guests and allows you to enjoy the party.</p>

      </div>
    </div>
  </div>
</div>
  </div>
</div>
<br>
{%include "footer.html"%}
  </body>
</html>

{%endblock%}
